In [1]:
%matplotlib qt
%matplotlib inline  
%matplotlib notebook
%pylab

Warning: Cannot change to a different GUI toolkit: notebook. Using qt instead.
Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib

In [30]:
import numpy as np
import math
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()#set_style("dark")

In [69]:
v = np.array([-5.0, 23.0, 17.6, 7.23, 1.11])

In [24]:
def decimalScaling(array):
    result = []
    vmax = array.max()
    test = vmax
    
    k = 0
    while test > 1.0:
        k +=1
        test /= 10
    for i, v_i in enumerate(array):
        result.append(v_i/math.pow(10, k))
    return result

In [25]:
decimalScaling(v)

array([-0.05  ,  0.23  ,  0.176 ,  0.0723,  0.0111])

In [ ]:
-0.05, 0.23, 0.176, 0.0723, 0.0111

In [51]:
def minMaxNormalization(array):
    result = []
    vmax = array.max()
    vmin = array.min()
    for i, v_i in enumerate(array):
        result.append((v_i - vmin)/(vmax - vmin))
    return result

In [55]:
minMaxNormalization(v)

[0.0, 1.0, 0.8071428571428572, 0.4367857142857143, 0.21821428571428572]

In [ ]:
0.0, 1.0, 0.80714286, 0.43678571, 0.21821429

In [32]:
def minMaxNormalization2(array):
    result = []
    vmax = array.max()
    vmin = array.min()
    for i, v_i in enumerate(array):
        result.append(2*(v_i - vmin)/(vmax - vmin) - 1)
    return result

In [33]:
minMaxNormalization2(v)

array([-1.        ,  1.        ,  0.61428571, -0.12642857, -0.56357143])

In [ ]:
-1.0, 1.0, 0.61428571, -0.12642857, -0.56357143

In [70]:
def standardDevNormalization(array):
    result = []
    vstd = array.std()
    vmean = array.mean()
    
    for i, v_i in enumerate(array):
        result.append((v_i - vmean)/vstd)
    return result

In [71]:
standardDevNormalization(v)

[-1.337795819876786,
 1.3789348848338325,
 0.8549939632110705,
 -0.15116665849782654,
 -0.7449663696702903]

In [ ]:
-1.33779582, 1.37893488, 0.85499396, -0.15116666, -0.74496637

In [66]:
w = np.array([200, 300, 400, 600, 1000])

In [57]:
minMaxNormalization(w)

[0.0, 0.125, 0.25, 0.5, 1.0]

In [67]:
standardDevNormalization(w)

[-1.0606601717798212,
 -0.7071067811865475,
 -0.35355339059327373,
 0.35355339059327373,
 1.7677669529663687]

In [68]:
-1.0606, -0.7071, -0.3535, 0.3535, 1.7677

-0.35355339059327373

In [72]:
X = [[1,2,0], [3,1,4], [2,1,5], [0,1,6], [2,4,3], [4,4,2], [5,2,1], [7,7,7], [0,0,0], [3,3,3]]

In [73]:
len(X)

10

In [117]:
def euclid(matrix):
    distances = []
    distances_i = []
    i = 0
    for j in matrix:
        for s in matrix:
            euclidianDistance = math.pow(math.pow(s[0]-j[0],2)
                                        +math.pow(s[1]-j[1],2)
                                        +math.pow(s[2]-j[2],2), 0.5)
            distances_i.append(euclidianDistance)
        distances.append(distances_i)
    return distances

In [118]:
data = np.triu(np.reshape(np.array(euclid(X))[0],(10,10)), k=1)
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9
0,0.0,4.582576,5.196152,6.164414,3.741657,4.123106,4.123106,10.488088,2.236068,3.741657
1,0.0,0.000000,1.414214,3.605551,3.316625,3.741657,3.741657,7.810250,5.099020,2.236068
2,0.0,0.000000,0.000000,2.236068,3.605551,4.690416,5.099020,8.062258,5.477226,3.000000
3,0.0,0.000000,0.000000,0.000000,4.690416,6.403124,7.141428,9.273618,6.082763,4.690416
4,0.0,0.000000,0.000000,0.000000,0.000000,2.236068,4.123106,7.071068,5.385165,1.414214
5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.449490,6.557439,6.000000,1.732051
6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.062258,5.477226,3.000000
7,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.124356,6.928203
8,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.196152
9,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
### d = 4, p= 3
s1 = 6 --
s2 = 3 --
s3 = 5 --
s4 = 7 --
s5 = 4 --
s6 = 5 --
s7 = 6 --
s8 = 9 --
s9 = 8 --
s10 = 3 --

In [ ]:
### d = 6, p= 2
s1 = 2 --
s2 = 1
s3 = 1
s4 = 5 --
s5 = 1
s6 = 3 --
s7 = 2 --
s8 = 9 --
s9 = 3 --
s10 = 1

In [139]:
for i in range(data.shape[0]):
    print(len(np.where(data[i] > 4)[0]))

6
2
4
6
3
2
2
2
1
0

In [136]:
np.where(data[0] > 4)
# [i for i, x in enumerate(data[0], 1) if x > 4]

(array([1, 2, 3, 5, 6, 7], dtype=int64),)

In [124]:
sum([x for x in data[0] if x > 4])

34.67744185356828

In [3]:
x = [7, 8, 9,10,9, 8, 7, 9,11,13,15, 17,16,15, 14,13,12, 11,10,9, 7, 5, 3,1]

In [4]:
'''
The window width is 6 and a prediction variable is based on the 
difference between the current value and the value after 3 hours?
What is the number of samples?'''

'\nThe window width is 6 and a prediction variable is based on the \ndifference between the current value and the value after 3 hours?\nWhat is the number of samples?'

In [5]:
tabular1 = [[7, 8, 9, 10, 9, 8], [8, 9,10,9, 8, 7], [9,10,9, 8, 7, 9], [10,9, 8, 7, 9,11], [9, 8, 7, 9,11,13],
           [8, 7, 9,11,13,15], [7, 9,11,13,15, 17], [9,11,13,15, 17,16], [11,13,15, 17,16,15], [13,15, 17,16,15, 14],
           [15, 17,16,15, 14,13], [17,16,15, 14,13,12], [16,15, 14,13,12, 11], [15, 14,13,12, 11,10], [14,13,12, 11,10,9],
           [13,12, 11,10,9, 7]]

In [6]:
c1 = [10, 9 ,8, 7, 9, 11, 13, 15, 17, 16, 15, 14, 13, 12, 11, 1]

In [7]:
df1 = pd.DataFrame(tabular1, columns=['M1', 'M2', 'M3', 'M4', 'M6', 'M6'])
df1["Prediction"] = c1
df1

    M1  M2  M3  M4  M6  M6  Prediction
0    7   8   9  10   9   8          10
1    8   9  10   9   8   7           9
2    9  10   9   8   7   9           8
3   10   9   8   7   9  11           7
4    9   8   7   9  11  13           9
5    8   7   9  11  13  15          11
6    7   9  11  13  15  17          13
7    9  11  13  15  17  16          15
8   11  13  15  17  16  15          17
9   13  15  17  16  15  14          16
10  15  17  16  15  14  13          15
11  17  16  15  14  13  12          14
12  16  15  14  13  12  11          13
13  15  14  13  12  11  10          12
14  14  13  12  11  10   9          11
15  13  12  11  10   9   7           1

In [38]:
windowSize = 6
minverse = 1/windowSize

MA6 = []
for i in range(len(x)-windowSize+1):
    MA6.append(sum(x[i : i + windowSize])*minverse)

In [39]:
len(x)-windowSize+1

19

In [40]:
'''
The window width is 12 and the prediction variable 
is based on a ratio t(n+1)/t(n). What is the number of samples?'''

'\nThe window width is 12 and the prediction variable \nis based on a ratio t(n+1)/t(n). What is the number of samples?'

In [41]:
x = [7, 8, 9, 10, 9, 8, 7, 9, 11, 13, 15, 17, 16, 15, 14, 13, 12, 11, 10, 9, 7, 5, 3,1]

In [42]:
tabular2 = [
    [7, 8, 9, 10, 9, 8, 7, 9, 11, 13, 15, 17], [8, 9, 10, 9, 8, 7, 9, 11, 13, 15, 17, 16], [9, 10, 9, 8, 7, 9, 11, 13, 15, 17, 16, 15],
    [10, 9, 8, 7, 9, 11, 13, 15, 17, 16, 15, 14], [9, 8, 7, 9, 11, 13, 15, 17, 16, 15, 14, 13], [8, 7, 9, 11, 13, 15, 17, 16, 15, 14, 13, 12],
    [7, 9, 11, 13, 15, 17, 16, 15, 14, 13, 12, 11], [9, 11, 13, 15, 17, 16, 15, 14, 13, 12, 11, 10], [11, 13, 15, 17, 16, 15, 14, 13, 12, 11, 10, 9],
    [13, 15, 17, 16, 15, 14, 13, 12, 11, 10, 9, 7], [15, 17, 16, 15, 14, 13, 12, 11, 10, 9, 7, 5], [17, 16, 15, 14, 13, 12, 11, 10, 9, 7, 5, 3]
]

In [43]:
c2 = [16/24, 15/24, 14/24, 13/24, 12/14, 11/24, 10/24, 9/24, 7/24, 5/24, 3/24, 1/24]

In [44]:
df2 = pd.DataFrame(tabular2, columns=['M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'M10', 'M11', 'M12'])
df2["Prediction"] = c2
df2

    M1  M2  M3  M4  M5  M6  M7  M8  M9  M10  M11  M12  Prediction
0    7   8   9  10   9   8   7   9  11   13   15   17    0.666667
1    8   9  10   9   8   7   9  11  13   15   17   16    0.625000
2    9  10   9   8   7   9  11  13  15   17   16   15    0.583333
3   10   9   8   7   9  11  13  15  17   16   15   14    0.541667
4    9   8   7   9  11  13  15  17  16   15   14   13    0.857143
5    8   7   9  11  13  15  17  16  15   14   13   12    0.458333
6    7   9  11  13  15  17  16  15  14   13   12   11    0.416667
7    9  11  13  15  17  16  15  14  13   12   11   10    0.375000
8   11  13  15  17  16  15  14  13  12   11   10    9    0.291667
9   13  15  17  16  15  14  13  12  11   10    9    7    0.208333
10  15  17  16  15  14  13  12  11  10    9    7    5    0.125000
11  17  16  15  14  13  12  11  10   9    7    5    3    0.041667

In [45]:
windowSize = 12
minverse = 1/windowSize

MA12 = []
for i in range(len(x)-windowSize+1):
    MA12.append(sum(x[i : i + windowSize])*minverse)

In [51]:
plt.figure( figsize=(12,8))
# plt.yscale('log')
# plt.plot(x, "*")

plt.plot(MA6)
plt.plot(tabular1, "o")

[<matplotlib.lines.Line2D at 0x20e025cb5b0>,
 <matplotlib.lines.Line2D at 0x20e025cb5e0>,
 <matplotlib.lines.Line2D at 0x20e025cb640>,
 <matplotlib.lines.Line2D at 0x20e025cb700>,
 <matplotlib.lines.Line2D at 0x20e025cb7c0>,
 <matplotlib.lines.Line2D at 0x20e025cb880>]

In [54]:
plt.figure( figsize=(12,8))
# plt.yscale('log')
plt.plot(MA12)
plt.plot(tabular2, "o")

[<matplotlib.lines.Line2D at 0x20e03a13af0>,
 <matplotlib.lines.Line2D at 0x20e03a13b20>,
 <matplotlib.lines.Line2D at 0x20e03a13b80>,
 <matplotlib.lines.Line2D at 0x20e03a13c40>,
 <matplotlib.lines.Line2D at 0x20e03a13d00>,
 <matplotlib.lines.Line2D at 0x20e03a13dc0>,
 <matplotlib.lines.Line2D at 0x20e03a13e80>,
 <matplotlib.lines.Line2D at 0x20e03a13f40>,
 <matplotlib.lines.Line2D at 0x20e03a1c040>,
 <matplotlib.lines.Line2D at 0x20e020841c0>,
 <matplotlib.lines.Line2D at 0x20e03a1c100>,
 <matplotlib.lines.Line2D at 0x20e03a1c1f0>]

In [62]:
plt.figure( figsize=(12,8))
plt.title = "hi"
plt.plot(MA6)
plt.plot(x, "o")
plt.plot(MA12)
plt.suptitle('6-Hour and 12-Hour Moving Averages over discrete X values', fontsize=22)

# plt.plot(x, "o")

Text(0.5, 0.98, '6-Hour and 12-Hour Moving Averages over discrete X values')

In [72]:
x

[7,
 8,
 9,
 10,
 9,
 8,
 7,
 9,
 11,
 13,
 15,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 7,
 5,
 3,
 1]

In [89]:
windowSize = 4
minverse = 1/windowSize
p = 0.5
EMA4 = []
for i in list(reversed(range(len(x)))):
    ema = (p * x[i]) + p * ( p * x[i-1] + p * x[i-2] + x[i-3])
    EMA4.append(ema)

In [90]:
x[-15:]

[13, 15, 17, 16, 15, 14, 13, 12, 11, 10, 9, 7, 5, 3, 1]

In [91]:
plt.figure( figsize=(12,8))
# plt.yscale('log')
plt.plot(EMA4)
plt.plot(x, "o")
plt.suptitle('4-Hour Exponetial Moving Averages over discrete X values', fontsize=22)

Text(0.5, 0.98, '4-Hour Exponetial Moving Averages over discrete X values')